body{
    color: $font-color;
    font-family: $font-family;
    position: relative;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: $font-color;
}

.container{
    width: 75%;
    height: 100%;
    margin: auto;
}

.clearfix{
    content: "";
    clear: both;
    display: table;
}

button{
    border-radius: 10px;
    padding: 10px;
    border: 1px solid $button-blue;
    background-color: $primary-color;
    cursor:pointer;
    &:hover{
        color: #fff;
        background-color: $button-blue;
    }
}

.colored-button{
    padding: 10px 20px;
    color: #fff;
    background-color: $button-blue;
    &:hover{
        background-color: $button-hover;
    }
}

button i {
    margin-right: 10px;
}

main section {
    padding: 100px 0;

}
