@mixin flex ($align-items, $justify-content){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}


$font-color: #58402c;
$font-family: 'Source Sans Pro','sans-serif';
$button-blue: #30488f;
